body {
    font-family: Arial, sans-serif;
    background-color: #0c3a70;
    margin: 0;
    padding: 0;
    background: url('Images/Phone2.jpg') no-repeat center 50px fixed;
}

.container {
    max-width: 1000px;
    margin: 150px auto;
    padding: 50px;
    background-color: #5b86b2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
}

h1, h2 {
    text-align: center;
}

.hidden {
    display: none;
}

.question {
    margin-bottom: 10px;
}

.answer {
    margin: 10px 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2a3746;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2a3746;
}

#result {
    text-align: center;
    margin-top: 40px;
}